<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Folha Ponto</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>
<body>
<form method="post">
    <div class="container">
        <div class="row">
            <div  class="input-field col s3"  >
                <label for="inicio">Data inicial</label>
                <input name="inicio" id="inicio" class="datepicker" type="text" value="{{.Inicio}}">
            </div>

            <div  class="input-field col s3"  >
                <label for="fim" >Data inicial </label>
                <input name="fim" id="fim" type="text" class="datepicker" value="{{.Fim}}">
            </div>
            <div  class="input-field col s3"  >
                <label>
                    <input name="esconderfds" type="checkbox" {{if .EsconderFDS}} checked {{end}}/>
                    <span>Esconder fim de semana</span>
                </label>
            </div>
            <div  class="input-field col s3"  >
                <button class="waves-effect waves-light btn green darken-1">Gerar folha ponto</button>

            </div>

        </div>



    </div>
</form>
<div class="container">
    <table class="striped responsive-table">
        <thead>
            <tr>
                <th>Data</th>
                <th>Hora entrada</th>
                <th>Saída almoco</th>
                <th>Volta almoco</th>
                <th>Hora saída</th>
            </tr>
        </thead>
    {{$efds := .EsconderFDS}}
        <tbody>
    {{ range .Datas }}

        {{ if eq .HoraIni "" }}
            {{if ne $efds true }}
            <tr class="blue-grey lighten-5">
                <td>{{ .Data }}</td>
                <td style="text-align: center" colspan="4">Fim de semana</td>
            </tr>
            {{end}}
        {{ else }}
            <tr >
                <td>{{ .Data }}</td>
                <td>{{ .HoraIni }}</td>
                <td>{{ .AlmocoIni }}</td>
                <td>{{ .AlmocoFim }}</td>
                <td>{{ .HoraFim }}</td>
            </tr>
        {{ end }}

    {{ end }}
        </tbody>
    </table>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.datepicker');
        var instances = M.Datepicker.init(elems, {
            "format": "yyyy-mm-dd"
        });
    });

</script>
</body>
</html>